@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-align: center;
  background-color: var(--Very-Light-Gray);
  padding-bottom: 80px;
}

/* ============== title ============== */
.title {
  margin: 70px 30px 60px;
}

/* Reliable, efficient delivery */
.title div:nth-child(1) {
  font-size: 23.5px;
}

/* Powered by Technology */
.title div:nth-child(2) {
  font-size: 24.25px;
  margin-bottom: 17px;
}

/* Our Artificial Intelligence powered... */
.title p:nth-child(3) {
  font-weight: 200;
}

/* ============== cards container ============== */
.cards-container {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-right: 32px;
  row-gap: 25px;
}

/* ============== card ============== */
.card {
  text-align: left;
  padding: 26px 27px;
  background: #fafafa;
  border-radius: 5px;
  filter: drop-shadow(5px 10px 20px rgba(0, 0, 0, 0.1));
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3.75px;
}

.card-subtitle {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 32px;
  letter-spacing: -0.045em;
  line-height: 30px;
}

.card img {
  position: relative;
  left: 75%;
  margin-bottom: 25px;
}
/* styling class */
.bold {
  font-weight: 600;
}

.supervisor {
  border-top: 5px solid var(--Cyan);
}
.team-builder {
  border-top: 5px solid var(--Red);
}
.karma {
  border-top: 5px solid var(--Orange);
}
.calculator {
  border-top: 5px solid var(--Blue);
}
